{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container pt-5">
    <!-- Message block -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success text-center" role="alert">
        {{ message }}</div>
    {% endfor %}
    {% endif %}
    <!-- End message block -->
    <div class="container p-5 my-5 border bg-secondary text-white">
        <label id="updateRow" style="display: none"></label>
        <table class="table table-bordered text-white" style="border:5px solid rgb(253, 251, 251);" width="100%;"
            id="tableOrderList">
            <thead>
                <h3>Product List</h3>
            </thead>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Product Name</th>
                    <th>Unit</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for data in order_data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td style="text-align:center">{{data.product_name}}</td>
                    <td style="text-align:center">{{data.unit_id.unit_name}}</td>
                    <td style="text-align:center">{{data.price}}</td>
                    <td style="text-align:center"><button type="submit" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#btnEditProduct{{data.product_id}}">Edit</button>
                        <a type="button" class="btn btn-danger" href="{% url 'delete_product' data.product_id %}"
                            onclick="return confirm('Are you sure want to delete product?')">Delete</a>
                    </td>
                </tr>

                <!-- Modal -->
                <div class="modal fade" id="btnEditProduct{{data.product_id}}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form action="{% url 'update_masters' data.product_id %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Product Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <input type="hidden" id="hiddenProductVal" name="hiddenProductVal" value="UpdateProduct">
                                <div class="modal-body">
                                    <div class="row mb-3 needs-validation">
                                        <label for="task" class="col-sm-4 col-form-label text-dark">Product
                                            Name</label>
                                        <input type="text" class="col-sm-5" name="txtProductName" id="txtProductName"
                                            value={{data.product_name}}>
                                    </div>
                                    <div class="row mb-3 needs-validation">
                                        <label for="task" class="col-sm-4 col-form-label text-dark">Unit</label>
                                        <input type="text" class="col-sm-5" name="txtUnitName"
                                            id="txtUnitName" value={{data.unit}}>
                                    </div>
                                    <div class="row mb-3 needs-validation">
                                        <label for="task" class="col-sm-4 col-form-label text-dark">Price</label>
                                        <input type="number" class="col-sm-5" name="txtPrice" id="txtPrice"
                                            value={{data.price}}>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




{% endblock %}